doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My Website Title
    link(rel="stylesheet", href="css/main.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  body
    block content 
        #navbar
            div
              h1 DivArt

        .project.tall#record
            div
        
        .project.tall#robot
            div
          
        .project.wide#moon
            div

        .project.tall#phone
            div
        
        .project.tall#git
            div
