#navbar
    background: rgb(45, 61, 95)
    width: 100vw
    border: solid 4px rgb(38, 38, 38)
    text-align: center

    h1
        font-size: 30px
        margin: 5px 0 5px 0;
        font-family: 'Caveat', cursive
        color: rgb(194, 194, 194)