#phone 
    background: rgb(196, 129, 91)

    div
        width: 300px
        height: 300px;
        background-image: linear-gradient(purple, orange) // outer
        background-size: 300px 300px
        background-position: 0px 0px
        margin-top: -(@height/2)
        left: calc(50% - 150px)
        background-repeat: no-repeat
        border-radius: 40px

        &:before
            width: 260px
            height: 260px
            background-image: radial-gradient(circle at center, rgb(154, 82, 171) 50%, rgba(0, 0, 0, 0) 50%),
                            radial-gradient(circle at center, purple 50%, rgba(0, 0, 0, 0) 50%),
                            linear-gradient(rgb(154, 82, 171), rgb(196, 129, 91))
            background-size: 150px 150px, 200px 200px, 260px 260px
            background-position: 55px 55px, 30px 30px, 0px 0px
            left: 20px
            margin-top: 20px
            background-repeat: no-repeat
            border-radius: 50px

        &:after
            width: 300px 
            height: 300px
            background-image: radial-gradient(circle at center, purple 50%, rgba(0, 0, 0, 0) 50%)
            background-size: 45px 45px
            background-position: 200px 50px
            background-repeat: no-repeat
    


    
